@model int[]
@{
    ViewData["Title"] = "Результаты";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результаты</title>
</head>
<body>
    <div class="card" style="padding: 20px;">
        <h1 class="fs-1">Результат:</h1>
        <br />
        <div class="align-content-xl-stretch">
            @foreach(var item in @Model)
            {   
                <a class ="box-shadow" style="color:aqua">@item</a>
            }
        </div>
    </div>
    <div class="text-center" style="margin:20px; padding:5px">
        <a class="btn btn-success" asp-controller="Display" asp-action="InputValues">Ввести список заново</a>
        <a class="btn btn-info" asp-controller="Home" asp-action="Index">Показать условие задачи</a>
    </div>
</body>
</html>
