@{
    ViewData["Title"] = "Задание 3";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Задание 3</title>
</head>
<body>
    <div class="card" style="padding: 20px; background-color:black">
        <h1 class="fs-1">Задание 3</h1>
        <br />
        <h2>Реализовать приложение C#, которое отсортирует и выведет список целых чисел. Алгоритм сортировки, 
            а также структуру данных, в которой будет производиться сортировка – необходимо написать самостоятельно. 
            Алгоритмом сортировки был выбран алгоритм пузырковой сортировки, структура для хранения и сортировки - двусвязный список.</h2>
        <br />
        <h3>Реализация двух сервисов, один из которых будет принимать данные и выполнять логику, 
            а другой – предоставлять отображение результата. Сервисы общаются друг с другом посредством 
            сервис-контроллеров на основе ASP.NET. Сообщения между сервисами передаются строкой в формате json. 
        </h3>
        <br />
        <h4>
            На задание было потрачено 4-5 часов.
            </h4>
    </div>
    <div class="text-center" style="margin:20px; padding:5px">
        <a class="btn btn-success" asp-controller="Display" asp-action="InputValues">Начать</a>
    </div>
</body>
</html>